* {
  font-family: 'Anuphan', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.maps {
  display: flex;
  justify-content: space-around;
}

/* main {
  padding: 1%;
} */

a {
  color: inherit;
  text-decoration: none;
}

/* ---------Navbar -----------*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #080808;
  padding-left: 0.5rem;
  margin-bottom: -25px;
  color: rgb(212, 212, 212);

}

#logo a{
  font-family: 'Lexend Tera', sans-serif;
  font-weight: 700;
  transition: all 0.8s ease;
 
}
#logo a:hover{
  font-size: 1.1rem;
  transition: all 0.8s ease;
}
header nav {
  display: flex;
  justify-content: space-between;
  
  
}

header nav>* {
  padding: 0.7rem ;
  transition: all 1.5s ease;
}

header nav>*:hover {
  background: #dddddd2d;
  transition: all 0.6s ease;
}

/* .vehiculos>* {
  visibility: hidden;
  position: absolute;  
  display: flex;
  flex-direction: column;
  background: rgba(220, 220, 220, 0.053);
  padding: 0.8rem;
  opacity: 0;
  transition: 0.4s all;
} */

/* .vehiculos>a~a {
  margin-top: 6vh;
}

.vehiculos>a:last-of-type {
  margin-top: 12vh;
}

.vehiculos:hover>* {
  visibility: visible;
  opacity: 1;
} */

/* Splash (img grande) */
.splash {
  background-image: url("../img/banner.jpg");
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  
 
}

.text-center {
  font-family: Sans-serif;
  color: white;
  text-align: center;
  padding-top: 50px;
}

/* Tarjetas */
.tarjetas {
  margin: 0 auto;
  width: 98vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.tarjeta {
  min-width: 20rem;
  display: block;
  background: #ccc;
  width: 20rem;
  height: 25rem;
}

.ver-mas {
  visibility: hidden;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background: linear-gradient(to bottom, #aaa, #ccc);
  width: 10rem;
  height: 1.8rem;
  text-align: center;
  border-radius: 0.5rem;
}

.ver-mas:hover {
  background: linear-gradient(to bottom, #ddd, #bbb);
  box-shadow: 0 0.3rem 1px gray;
}

.ver-mas:active {
  background: linear-gradient(to bottom, #bbb, #ddd);
  box-shadow: none;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
}

/* Carrousel */
.porque-powereco img {
  width: 800px;

}
.carrousel-autos{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.porques {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 0 1rem 0 2.5rem;
}
.porques .porque{
  width: 30%;
}
/* Footer */
.footer {
  
  background: #0c0c0c;

  text-align: center;
}

.link {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 23px;
}

/*MOVIMIENTO ICONOS CUANDO PASO EL MOUSE */
.fa-brands.fa-github:hover {
  --bs-text-opacity: 100%;
  transform: scale(1.3, 1.3);
  transition: all 0.5s ease;
}

.fa-brands.fa-linkedin:hover {
  --bs-text-opacity: 1;
  transform: scale(1.3, 1.3);
  transition: all 0.5s ease;
}

.fa-brands.fa-facebook:hover {
  --bs-text-opacity: 1;
  transform: scale(1.3, 1.3);
  transition: all 0.5s ease;
}

.social-media {
  padding: 10px;
  color: white;
}

/* BOTON PARA ARRIBA */
.boton-up {
  justify-content: end;
  display: flex;
}

.boton-up a {
  color: white;
  text-decoration: none;
}

/* ----------ACERCA DE NOSOTROS------------- */

.mainAcerca{
  margin-top:30px;
  
}

/* .mainAcerca h1{
  font-size: 4rem;
  font-family: 'Lexend Tera', sans-serif;
} */
.mainAcerca h2{
  font-size: 4rem;
}

.titulos{
background-image: url(/img/acercade5.jpeg);
background-position: top;
background-repeat: none;
background-size: cover;
padding: 50px;
background-attachment: fixed;
}

.p1{
width: 50%;
padding: 0 20px;
font-weight: 700;
text-align: right;

}

.descripcion1{
  height: 400px;
  background-image: url(/img/acercade4.jpg);
  background-size:50% ;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 50px 0;

}

.descripcion2{
  background-image: url(/img/acercade2.jpg);
  background-size: cover;
  background-attachment: fixed;

  /* object-fit: cover;
  object-position: bottom; */

}

.p2{
  padding: 100px ;
  margin: 0px auto 0px auto;
  width: 80%;
  font-size: 1.5rem;
  background-color: #bbbbbb7c;

}

.descripcion3{
  background-image:url(/img/acercade3.jpg) ;
  background-size: 50%  ;
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  height: 400px;
}

.p3{
  width:50%;
  padding:50px 10px;
}

.descripcion4{
  background-image:url(/img/acercade6.jpg) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width:100%;
}

.p4{
  padding: 100px ;
  margin: 0px auto 0px auto;
  width: 60%;
  font-size: 2rem;
  
  background-color: #bbbbbb5a;

}

.descripcion5{
  background-image:url(/img/acercade1.webp) ;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: top;
  background-size: cover;
  width:100%;

}

.p5{
  padding: 100px ;
  margin: 0px auto 0px auto;
  width: 80%;
  font-size: 2rem;
  
  background-color: #bbbbbb5a;

}













/* -----------media querys----------- */
@media screen and (max-width: 470px) {
  header nav {
    flex-direction: column;
  }

  .tarjetas {
    width: 100vw;
    gap: 1rem;
  }

  .tarjeta {
    width: 90vw;
  }

  .tarjetas .tarjeta:nth-child(1n+4) {
    display: none;
  }

  .ver-mas {
    visibility: visible;
  }

  .porques {
    margin: 0.5rem 0.3rem;
  }

  .splash{
    height: 300px;
    
  }


}

@media screen and (max-width: 780px) {
  .splash{
    height: 400px;
    
  }


  .descripcion1{
    background-image: none;
    height: auto;
  }
  .p1{
    width: 80%;
    padding: 50px ;
    font-weight: 700;
    text-align: left;
    
    
    }

    .p2{
      padding: 100px ;
      margin: 20px auto;
      width: 100%;
      font-size: 1rem;
      font-weight: 700;;
      background-color: #bbbbbb9a;
      
    }
    .descripcion3{
      background-image:none ;
    }

    .p3{
      width:100%;
      text-align: end;
      padding:  20px;
    }

    .p4{
      padding: 100px ;
      margin: 0 auto;
      width: 100%;
      font-size: 1rem;
      font-weight: 700;
      background-color: #bbbbbb00;
      color: #e7e2e2;
    }
    .p5{
      padding: 100px ;
      margin: 0px auto;
      width: 100%;
      font-size: 1rem;
      font-weight: 700;
      background-color: #bbbbbb92;
      
    }
  }

 
  
  @media screen and (max-width: 1080px) {
    

}