* {
  font-family: 'Anuphan', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-----contacto------*/
.titulo {
  text-align: center;
}

.body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.menu {
  background-image: url(../img/contacto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity:0,1;

}

.form {
  @media only screen and(min-width: 250px) (max-width:750px) flex-direction: column;
  margin: 0 auto;
  margin-top: 5%;
  /* margin-bottom: 5%; */
  padding: 5%;
  width: 35%;
  background: rgba(188, 171, 171, 0.44);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  text-align: center;
}

@media screen and (max-width:600px) {
  .form {
    width: 80%;
  }
}

/* ----------- Sucursales ----------- */
.directions {
  display: flex;
  justify-content: space-around;
}

.maps {
  padding: 3%;
  padding-bottom: 10%;
  display: flex;
  justify-content: space-around;
}

.suc {
  text-align: center;
}

/*
.fondo {
}
*/

/* main {
  padding: 1%;
} */

a {
  color: inherit;
  text-decoration: none;
}

/* -----------------Index------------------ */
/* ---------Navbar -----------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #080808;
  padding-left: 0.5rem;
  color: rgb(212, 212, 212);
  

}

#logo a {
  font-family: 'Lexend Tera', sans-serif;
  font-weight: 700;
  transition: all 0.8s ease;
  padding: 5px;

}

#logo a:hover {
  font-size: 1.1rem;
  transition: all 0.8s ease;
}

header nav {
  display: flex;
  justify-content: space-between;


}

header nav>* {
  padding: 0.7rem;
  transition: all 1.5s ease;
}

header nav>*:hover {
  background: #dddddd2d;
  transition: all 0.6s ease;
}

/* --------iconos menu y cerrar ocultos ----------*/

.menu-icon {
  width: 30px;
  margin-top: -25px;
  margin-right: 10px;
  padding: 3px;
  display: none;
  float: right;

}

#menu-check {
  opacity: 0;
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;

}

.cerrar-icon {
  padding: 3px;
  width: 30px;
  float: right;
  margin-top: -25px;
  margin-right: 10px;
  /* background-color: rgb(255, 251, 251); */
  display: none;
}





/* -----------Splash (img grande) -----------*/
.splash {
  background-image: url("../img/banner.jpg");
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: center center;
  background-size: cover;
  background-repeat: no-repeat;


}

.text-center {
  font-family: Sans-serif;
  color: white;
  text-align: center;
  padding-top: 50px;
  margin-top: -21px;
}

/* Tarjetas */
.tarjetas {
  margin: 0 auto;
  width: 98vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.tarjeta {
  min-width: 20rem;
  display: block;
  background: #ccc;
  width: 20rem;
  height: 25rem;
}

.ver-mas {
  visibility: hidden;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background: linear-gradient(to bottom, #aaa, #ccc);
  width: 10rem;
  height: 1.8rem;
  text-align: center;
  border-radius: 0.5rem;
}

.ver-mas:hover {
  background: linear-gradient(to bottom, #ddd, #bbb);
  box-shadow: 0 0.3rem 1px gray;
}

.ver-mas:active {
  background: linear-gradient(to bottom, #bbb, #ddd);
  box-shadow: none;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
}

/* Carrousel */
.porque-powereco img {
  width: 100%;

}

.carrousel-autos {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.porques {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 0 1rem 0 2.5rem;
}

.porques .porque {
  width: 30%;
}

/* Footer */
.footer {

  background: #0c0c0c;

  text-align: center;
}

.link {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 23px;
}

/*MOVIMIENTO ICONOS CUANDO PASO EL MOUSE */
.fa-brands.fa-github:hover {
  --bs-text-opacity: 100%;
  transform: scale(1.3, 1.3);
  transition: all 0.5s ease;
}

.fa-brands.fa-linkedin:hover {
  --bs-text-opacity: 1;
  transform: scale(1.3, 1.3);
  transition: all 0.5s ease;
}

.fa-brands.fa-facebook:hover {
  --bs-text-opacity: 1;
  transform: scale(1.3, 1.3);
  transition: all 0.5s ease;
}

.social-media {
  padding: 10px;
  color: white;
}

/* BOTON PARA ARRIBA */
.boton-up {
  justify-content: end;
  display: flex;
}

.boton-up a {
  color: white;
  text-decoration: none;
}

/* ----------ACERCA DE NOSOTROS------------- */

.mainAcerca {
  margin-top: 0;

}

.mainAcerca h2 {
  font-size: 4rem;
}

.titulos {
  background-image: url(/img/acercade5.jpeg);
  background-position: top left;
  background-repeat: none;
  background-size: cover;
  padding: 50px;
  background-attachment: fixed;
}



.descripcion1 {
  padding: 0;
  display: flex;
}

.p1 {
  width: 50%;
  padding: 40px 20px;
  font-weight: 700;
  text-align: right;

}


.descripcion1 .img1 {
  width: 50%;
}

.descripcion2 {
  background-image: url(/img/acercade2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.p2 {
  padding: 100px;
  margin: 0px auto 0px auto;
  width: 80%;
  font-size: 1.5rem;
  background-color: #bbbbbb7c;
}

.descripcion3 {
  padding: 0;
  display: flex;
}

.p3 {
  width: 50%;
  padding: 0px 30px;
  margin: auto 0;
}

.descripcion3 .img3 {
  width: 50%;
}

.descripcion4 {
  background-image: url(/img/acercade6.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}

.p4 {
  padding: 100px;
  margin: 0px auto 0px auto;
  width: 60%;
  font-size: 2rem;

  background-color: #bbbbbb5a;

}

.descripcion5 {
  display: flex;
  width: 100%;

}

.p5 {
  margin: auto 0;
  padding: 0 20px;
  width: 80%;
  font-size: 1rem;

  /* background-color: #bbbbbb5a; */

}

.descripcion5 .img5 {
  width: 50%;
}

/* ----------- Sucursales ----------- */
.directions {
  display: flex;
  justify-content: space-around;
}

.maps {
  padding: 3%;
  padding-bottom: 10%;
  display: flex;
  justify-content: space-around;
}
/* ------------------VEHICULOS--------------------- */


/* -----------------MENU SOLAPAS------------------ */
#solapas{
  /* display: flex; */
  position: relative;
  width: 100%;

}

#solapas input[type="radio"]{
  display: none;
}

#solapas label{
  float:left;
  cursor: pointer;
  display: flex;
  width: 25%;
  font-size: 1.3em;
  padding: 20px;
  background-color: black;
  color: white;
  border: solid 1px black;
  
}

#solapas label:hover{
  background-color: #000000c7;
}

#solapas input[type="radio"]:checked + label{
 background-color: #e7e2e2;
 color: #080808;
 border-bottom: solid 1px rgba(0, 0, 0, 0);
}

.solapa-contenido{
  display:none;
  position: absolute;
  top:67px;
  /* background-color: red; */
  width: 100%;
}

input[type="radio"]:checked + label + .solapa-contenido{
  display: flex;
}


/* ------------------CONTENIDO DE SOLAPAS----------------------- */
/* -------------------RENAULT---------------- */

.contenedor-tarjetas{
  display: flex;
  
  flex-direction: row;
  justify-content: center;

  column-gap: 10px;
  row-gap: 10px;
  width: 100%;
  flex-wrap: wrap;
  
}

.tarjeta-auto{
  width:24%;
  position: relative;
  /* background-color: rgba(165, 42, 42, 0.127); */
}

.tarjeta-auto h3{
  font-size: 2em;
  font-weight: 300;
  padding-bottom: 15px;
}

.tarjeta-auto h4{
  font-size: 1.5em;
  font-weight: 300;
  padding-bottom: 30px;
}

.tarjeta-auto img{
  width:100%
}

#solapas .tarjeta-auto label{
  width:100%;
  display: block;
  float:none;
  cursor: pointer;
}
#solapas .tarjeta-auto input[type="checkbox"]{
  position: absolute;
  width:100%;
  height: 60px;
  opacity: 0;
  cursor: pointer;
  
}

.tarjeta-auto .descripcion{
  padding: 20px 10px;
  display: none;
}
.tarjeta-auto input[type="checkbox"]:checked ~ .descripcion{
  display: flex;
}


.footer-vehiculos{
  position: absolute;
  bottom: 0;
  width: 100%;
}


/* -----------media querys----------- */

@media screen and (max-width: 1080px) {}




@media screen and (max-width: 780px) {
  .splash {
    height: 400px;

  }

  /* -----------Acerca de---------------- */


  .descripcion1 .img1 {
    display: none;
  }

  .p1 {
    width: 80%;
    padding: 50px;
    font-weight: 700;
    text-align: left;


  }

  .p2 {
    padding: 100px;
    margin: 20px auto;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    ;
    background-color: #bbbbbb9a;

  }

  .descripcion3 .img3 {
    display: none;
  }

  .p3 {
    width: 60%;
    text-align: end;
    padding: 30px 30px 50px 30px;
    margin-left: 40%;
  }

  .p4 {
    padding: 100px;
    margin: 0 auto;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    background-color: #bbbbbb00;
    color: #e7e2e2;
  }

  .p5 {
    padding: 100px;
    margin: 0px auto;
    width: 100%;
    font-size: 1rem;



  }

  .descripcion5 .img5 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  /* ------- responsive menu habmurguesa------- */
  
    header {
      
      display: block;
      position: absolute;
      z-index: 50;
      width: 100%;
      padding-bottom: 6px;
      
      /* height: 40px; */
    }
  
    #logo {
      padding-top: 10px;
      
     
    }
  
    #inicio {
      /* display: flex;   */
      position: absolute;
      width: 100%;
      top:-250px;
      left:0px;
      z-index: -10;
      opacity: 0;
      transition: all 0.6s ease;
      
    }
  
    .menu-icon {
      display: inline;
    }
  
    #menu-check:checked~nav {
      display: flex;
      top:30px;
      background-color: #080808;
      opacity: 1;
      transition: all 0.6s ease;
      
    }
  
    #menu-check:checked~.cerrar-icon {
      display: inline;
    }
  
    #menu-check:checked~.menu-icon {
      display: none;
    }


    .titulos{
      padding:80px;
    }
  

  }




@media screen and (max-width: 470px) {
  header nav {
    flex-direction: column;
  }

  .tarjetas {
    width: 100vw;
    gap: 1rem;
  }

  .tarjeta {
    width: 90vw;
  }

  .tarjetas .tarjeta:nth-child(1n+4) {
    display: none;
  }

  .ver-mas {
    visibility: visible;
  }

  .porques {
    margin: 0.5rem 0.3rem;
  }

  .splash {
    height: 300px;

  }

  /* -----------acerca de------------- */

  .mainAcerca h2 {
    font-size: 3rem;
  }

  .titulos {
    background-image: url(/img/acercade5.jpeg);
    background-position: top right;
    background-repeat: none;
    background-size: cover;
    padding: 50px;
    background-attachment: fixed;
  }

  .p3 {
    width: 80%;
    text-align: end;
    padding: 30px 30px 50px 30px;
    margin-left: 20%;
  }


}


@media screen and (max-width:360px) {}