/* -----------------MENU SOLAPAS------------------ */
h1 {
  text-align: center;
  margin-top: 10px;/* Aumenta el espacio entre el h1 y el resto */
  color: #333333; /* Cambia el color del texto a un tono más suave */
}

#vehiculos-marca{
  min-height: 100vh;
}
#solapas{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

#solapas input[type="radio"]{
  display: none;
}

#solapas label{
  float: left;
  cursor: pointer;
  display: flex;
  width: 25%;
  font-size: 1.3em;
  padding: 20px;
  background-color: #888888; /* Cambia el color de fondo a un gris medio */
  color: #ffffff; /* Cambia el color del texto a blanco */
  border: none; /* Elimina el borde */
  transition: all 0.5s ease;
  border-radius: 5px; /* Agregado: bordes redondeados */
}

#solapas label:hover{
  background-color: #999999; /* Cambia el color de fondo al pasar el cursor */
  transition: all 0.5s ease;
}

#solapas input[type="radio"]:checked + label{
  background-color: #cccccc; /* Cambia el color de fondo cuando está seleccionado */
  color: #333333;
}

.solapa-contenido{
  display:none;
  position: absolute;
  top:67px;
  width: 100%;
  margin-top: 40px;
}

input[type="radio"]:checked + label + .solapa-contenido{
  display: block;
}


/* ------------------CONTENIDO DE SOLAPAS----------------------- */

.contenedor-tarjetas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.tarjeta-auto{
  width:24%;
  border: #aaaaaa solid 1px; /* Cambia el color del borde a una tonalidad más suave */
  border-radius: 5px; /* Agregado: bordes redondeados */
  background-color: #dddddd; /* Cambia el color de fondo a un gris medio */
}

.tarjeta-auto h3{
  font-size: 2em;
  font-weight: 300;
  padding-bottom: 15px;
  margin-left: 10px;
}

.tarjeta-auto h4{
  font-size: 1.5em;
  font-weight: 300;
  padding-bottom: 30px;
  margin-left: 10px;
}

.tarjeta-auto img{
  width:100%;
  margin-bottom: 20px;
}

#solapas .tarjeta-auto label{
  width:100%;
  display: block;
  float:none;
  cursor: pointer;
}

#solapas .tarjeta-auto input[type="checkbox"]{
  position: absolute;
  width:24%;
  height: 60px;
  opacity: 0;
  cursor: pointer;
}

.tarjeta-auto .descripcion{
  padding: 20px 10px;
  display: none;
}

.tarjeta-auto input[type="checkbox"]:checked ~ .descripcion{
  display: flex;
  position: absolute;
  margin-left: -1px;
  background-color: #eeeeee; /* Cambia el color de fondo cuando está seleccionado */
  color: #333333;
  width: 24%;
  border-radius: 5px; /* Agregado: bordes redondeados */
}

/* Resto del código... */

 
 /* .footer-vehiculos{
   position: absolute;
   bottom: 0;
   width: 100%;
 }  */
 /* ------Seccion consultar precio------ */
 
 #precio{
   text-align: center;
 }
 
 #precio h2{
   font-size: 1em;
   padding: 0 20px;
   font-weight: 200;
   
 }
 
 #precio .boton-contacto{
   width: 200px;
   display: inline-block;
   text-decoration: none;
   color: white;
   background-color: #080808;
   padding: 20px;
   margin: 20px 0;
 }
 
 #precio .boton-contacto:hover{
   background-color: #000000c7;
   transition: all 0.5s ease;
 }
 
 
 
 @media screen and (max-width: 780px){
   .tarjeta-auto{
     width:48%;
   }
 
   #vehiculos-marca{
     min-height: 160vh;
     margin-bottom: 50px;
   }
 
 
 
   .tarjeta-auto input[type="checkbox"]:checked ~ .descripcion{
     width: 48%;
   }
 
   #solapas .tarjeta-auto input[type="checkbox"]{
     width: 48%;
   }
 }
 
 @media screen and (max-width:600px){
 
 
 
   #vehiculos-marca{
    
     min-height: 100vh;
     padding-top: 39px;
     margin-bottom: 0px;
     
   }
   #solapas{
     margin-bottom: 40px;
   }
   #solapas label{
     float:none;
     cursor: pointer;
     display: flex;
     width: 100%;
     font-size: 1.2em;
     padding: 20px;
     transition: all 0.5s ease;
   }
 
 
   .solapa-contenido{   
     position: static;
     display: none;
     
   }
 
 
  
 
   input[type="radio"]:checked + label + .solapa-contenido{
    display: block;
    margin-bottom: 50px;
  }


  .tarjeta-auto h3{
    font-size: 1.2em;
  }
  .tarjeta-auto h4{
    font-size: 1.2em;
  }

  #solapas .tarjeta-auto label{
    font-size: 0.8em;
    
  }





}
 